body{
  background-image: url("lobby.jpg");
}


.matinee , .evening {
  cursor: pointer;
  color: white;
}

.matinee:hover, .evening:hover{
  text-decoration: underline;
}

#ticket-cost-summary {
  display: none;
}

#movie-box{
  width: 50%;
  background: rgba(135,51,39,0.75);
  border-radius: 10px;
  padding: 3px 20px;
  margin: 20px auto;
  color: black;

}
